<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.pintro.payment">

    <application>
        <activity android:name=".PaymentActivity" android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>