<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.pintro.payment">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".PaymentActivity" android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>